* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: rgba(245, 245, 220, 0.861);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    background-color:aliceblue ;
    height: 80px;
    box-shadow: 2px;
}

header > img {
    width: 50px;

}

header > h1 {
    font-weight: 400;
   
}
main {
    padding: 10px 30px;
}

.form {
    display: flex;
    justify-content: center;
    gap: 12px;



}
.form > input {
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    padding: 9px 13px;
    box-shadow:2 px;
}