* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: rgba(245, 245, 220, 0.861);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    background-color:aliceblue ;
    height: 80px;
    box-shadow: 2px;
}

header > img {
    width: 50px;

}

header > h1 {
    font-weight: 400;
   
}
main {
    padding: 30px 30px 10px;
}

.form {
    display: flex;
    justify-content: center;
    gap: 12px;
    height: 38px;



}
.form > input {
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    padding: 9px 13px;
    box-shadow:2 px;
    flex-grow: 1;
    min-width: 150px;
    max-width: 400px;
}
.form > button{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    border: none;
    background-color: black;
    width: 150px;
    font-size: 0.075rem;
    font-weight: 500;


}
.form > button::before{
    content: "+";
    margin-right: 5px;
}
